#nav-bar {
  background: $COLOR_WHITE;
}

.menu {
  align-items: center;
  justify-content: space-between;
}

img:not(1) {
  object-fit: contain;
}

.menu__item a,
.footer__upper a,
.footer__lower a {
  padding: 5px 3px;
  color: $COLOR_TEXT;
}

.menu__item a:hover,
.footer__upper a:hover {
  text-decoration: underline;
}
